.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 50%;
    text-align: center;
    border-radius: 16px;
}
.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
    display: flex;
}
.row{
    margin: 0 -5px;
    align-items: center;
}
.row:after{
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column{
        width:100%;
        display: block;
        margin-bottom: 20px;
    }
}
.body {
    text-align: center;
    background-image: url('twitch.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}